<div class="chart-container">
    <canvas #doughnutCanvas id="canvas"></canvas>
    <p></p>
</div>
<div class="card">
    <div class="card-body">
      <a href="https://chartjs-plugin-datalabels.netlify.app/guide/positioning.html#alignment-and-offset">1. IDEA: Display values around Doughnut or Pie Chart
        (x-axis as labels)</a>
        <p></p>
        <a href="https://stackoverflow.com/questions/52785769/how-can-i-sort-data-from-highest-to-lowest-in-chart-js">2. IDEA: Sort lowest to highest</a>
      </div>
  </div>