<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul class="pagination justify-content-center">
    <li class="page-item"> <a class="page-link" routerLink="/flipped-bar-chart" >Flipped Bar Chart</a></li>
    <li class="page-item"><a class="page-link" routerLink="/doughnut-chart">Doughnut Chart</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pie-chart">Pie Chart</a></li>
    <li class="page-item"><a class="page-link" routerLink="/polar-area-chart">Polar Area Chart</a></li>
  </ul>
  <div class="justify-content-center">
    <router-outlet></router-outlet>
  </div>
  
</div>


