<div class="chart-container">
  <canvas #barCanvas id="canvas"></canvas>
  <p></p>
  <canvas #mixed id="mixed"></canvas>
  <p></p>
</div>
<div class="card">
  <div class="card-body">
    <a href="https://stackoverflow.com/questions/37005297/custom-legend-with-chartjs-v2-0">1. IDEA: Custom Legend
      (x-axis as labels)</a>
    <p></p>
    <a href="https://stackoverflow.com/questions/36749509/removing-legend-on-charts-with-chart-js-v2">2. IDEA: Delete
      Legend from graph to save space</a> 
      <p></p>
      <a>3. IDEA: Name of Dealer on Individual Bar + Use complete height of plot to plot bars (make wider)</a>
  </div>
</div>